@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/card.css" />
<!-- SEARCH BOX -->
    <form asp-page="/Room" method="post" class="search_form">
        <label for="search" class="search_label">Search for stuff</label>
        <input name="movie_link" id="search" type="search" placeholder="Search..." autofocus required />
        <button class="search_btn" type="submit">Go</button>    
      </form>




<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="row"> </div>
    <div class="row">
        <div class="col-2">User</div>
        <div class="col-4"><input class="form-control" type="text" id="userInput" /></div>
    </div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><textarea class="form-control" type="text" id="messageInput"></textarea></div>
    </div>
    <div class="row"> </div>
    <div class="row">
        <div class="col-6">
            <input class="btn btn-primary" type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
<script src="~/js//signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>






<!-- CARDS -->
<div class="cards">
        <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="~/img/search.png" alt="wave" />
    </div>
    <div class="card-title">
        <span class="left"></span>
        <span class="right"></span>
      <h2>
          Search
          <small>Paste the link into the input field</small>
      </h2>
    </div>
  </div>

  <div class="card">
    <div class="card__image-holder">
      <img class="card__image" src="~/img/video.png" alt="wave" />
    </div>
    <div class="card-title">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
          Room
          <small>You will go to the created room</small>
      </h2>
    </div>
  </div>


  <div class="card">
    <div class="card__image-holder">
     <img class="card__image" src="~/img/link.png" alt="wave" />
    </div>
    <div class="card-title">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
          Link
          <small>Share the link with your friends</small>
      </h2>
    </div>
  </div>
  </div>
