@page
@model Closely.Pages.RoomModel
@{
    ViewData["Title"] = "Room";
}
<link rel="stylesheet" href="~/css/room.css" />
<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
<script async src="https://www.youtube.com/iframe_api"></script>

@if (@Model.Message != "Incorrect link!")
{
    <div class="RoomChat">
        <div class="UsersInRoom">
        </div>
        <input class="TextBoxRead" id="textForm" type="text" readonly>
        <input class="TextBoxEnter" id="messageInput" type="text">
        <input type="button" id="sendButton" value="Send Message" />
    </div>

    <div id="app">
        <div class="inner">
            <!-- Player wrapper, forcing 16:9 aspect ratio -->
        <div class="player-wrapper">
                <div class="aspect-spacer"></div>
                <div id="c-video" class="pos-absolute full-width full-height top-0 c-video">
                    <iframe id="video-player" class="el-player" playsinline allowfullscreen allow="autoplay" src=@Model.Message></iframe>

                    <div class="controls">
                        <div id="color-bar">
                            <div id="green-bar"></div>
                        </div>
                        <div class="buttons">
                            <ion-icon id="pause-play" name="play-circle-outline"></ion-icon>
                            <ion-icon id="volume" name="volume-medium-outline"></ion-icon>
                            <input type="range" id="volume-range">
                            
                            <div id="video-time"></div>

                            <ion-icon id="expand" name="expand-outline"></ion-icon>
                        </div>
                            <div id="hover-time"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input class="TextBoxRead" id="sharedlink" type="text" readonly value=@Model.sharedlink>

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/video.js"></script>
    //<script src="~/js/chat.js"></script>
    <script src="~/js/userchar.js?version={version}"></script>


    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
}
else
{
    <script type="text/javascript">
        alert("Incorrect link!");
        window.location.href = '/Index';
    </script>
}