<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Closely</title>
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <!-- NAVBAR -->
    <div class="page">
      <header tabindex="0">
        <a asp-page=""><button class="custom-btn btn-6"><span>Films</span></button></a>
        <a asp-page="/Index"><button class="custom-btn btn-6 btn"><span>YouTube</span></button></a>
        <a asp-page=""><button class="custom-btn btn-6 btn"><span>My Video</span></button></a>
      </header>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
