<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Closely</title>
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <!-- NAVBAR -->
    <div class="page">
      <header tabindex="0">
        <a asp-page=""><button class="custom-btn btn-6"><span>Films</span></button></a>
        <a class="btn" asp-page="/Index"><button class="custom-btn btn-6"><span>YouTube</span></button></a>
        <a class="btn" asp-page=""><button class="custom-btn btn-6"><span>My Video</span></button></a>
        <a class="profile" asp-page="/Login"><button class="custom-btn btn-6"><span>Login</span></button></a>
      </header>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await RenderSectionAsync("Scripts", required: false)

    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    
</body>
</html>
